<% if @fila.errors.any? %>
    <% @fila.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger">
          <%= msg %>
        </div>
    <% end %>
<% end %>

<%= form_for(@fila, :class => 'form') do |f| %>

    <div class="form-group">
      <%= f.label :nome %>
      <br>
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>

    <%= f.submit :class => 'btn btn-primary', :value => 'Salvar' %>

<% end %>