<!DOCTYPE html>
<html>
<head>
  <title>Filas</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</head>
<body>

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to "Início", root_path %>
      </li>
      <li>
        <%= link_to "Filas", filas_path %>
      </li>
    </ul>
  </nav>
</header>

<div class="container">

  <%= yield %>

</div>

</body>
</html>
